@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
  /* Brand */
  --color-brand-primary: #0D0060;
  --color-brand-secondary: #007AFF;

  /* Feedback */
  --color-feedback-success: #059669;
  --color-feedback-error: #ef4444;
  --color-feedback-warning: #FFA800;

  /* Surface */
  --color-surface-page: #f0f2f5;
  --color-surface-card: #ffffff;

  /* Border */
  --color-border-divider: #cbd5e1;

  /* Text */
  --color-text-primary: #1e293b;
  --color-text-secondary: #64748b;
  --color-text-placeholder: #94a3b8;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
