name: Azure Static Web Apps CI/CD for Arteco DR Frontend

on:
  push:
    branches:
      - main
    paths:
      - 'arteco-dr-frontend/**'
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main
    paths:
      - 'arteco-dr-frontend/**'

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    env:
      VITE_API_URL: "https://arteco-fineartapi-prod-bxetekage3a2b6em.eastus2-01.azurewebsites.net"
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: 'arteco-dr-frontend/package-lock.json'

      - name: Install and Build
        run: |
          npm install
          npm run build
        working-directory: ./arteco-dr-frontend
        env:
          VITE_API_URL: ${{ env.VITE_API_URL }}

      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_ARTECO_DR_FRONTEND }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for Github integrations (i.e. PR comments)
          action: "upload"
          app_location: "arteco-dr-frontend/dist" # Point to the built artifacts from Vite
          skip_app_build: true
          output_location: "" # Not needed when skipping build

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_ARTECO_DR_FRONTEND }}
          action: "close"
          app_location: "arteco-dr-frontend"